:root {
  --block-size: 20px;
  --wall-color: rgba(0, 0, 255, 0.28);
}

.status {
  width: 1000px;
  margin: 8px auto;
  display: flex;
  justify-content: space-evenly;
}

canvas {
  border: var(--block-size) solid rgba(90, 134, 20, 0.3);
  box-sizing: content-box;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
}

canvas > .block {
  border: 1px solid rgba(0, 0, 0, 0.21);
  font-size: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.18);
  vertical-align: middle;
}

canvas > .block.wall {
  background-color: var(--wall-color);
  color: transparent;
}

canvas > .block.food {
  background-color: #523e02;
  animation: blink 1s infinite;
}

canvas > .block.empty {
  transition: 100ms all;
  background-color: white;
}

canvas > .block.body {
  background-color: black;
}

canvas > .block.bump {
  background-color: red;
}

@keyframes blink {
  0% {
    background-color: rgba(59, 20, 20, 0.46);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.58);
  }
}
